# Integrador del Módulo 6

### EDA

Se realiza el analisis exploratorio de datos sobre el dataframe provisto por el cliente.

##### Importamos las librerías

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

##### Cargamos el Dataframe

In [9]:
df = pd.read_csv('Datasets/BBDD_Hospitalización.csv', encoding='ISO-8859-1')

##### Realizamos una descripción general de los datos

In [10]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 20 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   EDAD                                                                       568 non-null    float64
 1   DIABETES                                                                   568 non-null    object
 2   HOSPITALIZACIÓN ULTIMO MES                                                 568 non-null    object
 3   PSA                                                                        564 non-null    object
 4   BIOPSIAS PREVIAS                                                           566 non-null    object
 5   VOLUMEN PROSTATICO                                                         567 non-null    object
 6   ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS                                    568 non-null    object
 7   NUMERO DE MUESTRAS TOMADAS                                                 568 non-null    float64
 8   CUP                                                                        568 non-null    object
 9   ENF. CRONICA PULMONAR OBSTRUCTIVA                                          566 non-null    object
 10  BIOPSIA                                                                    568 non-null    object
 11  NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA  568 non-null    object
 12  FIEBRE                                                                     568 non-null    object
 13  ITU                                                                        568 non-null    object
 14  TIPO DE CULTIVO                                                            568 non-null    object
 15  AGENTE AISLADO                                                             551 non-null    object
 16  PATRON DE RESISTENCIA                                                      568 non-null    object
 17  HOSPITALIZACION                                                            565 non-null    object
 18  DIAS HOSPITALIZACION MQ                                                    568 non-null    float64
 19  DIAS HOSPITALIZACIÓN UPC                                                   568 non-null    float64
dtypes: float64(4), object(16)
memory usage: 89.2+ KB

,EDAD,NUMERO DE MUESTRAS TOMADAS,DIAS HOSPITALIZACION MQ,DIAS HOSPITALIZACIÓN UPC
count,568.000000,568.000000,568.000000,568.000000
mean,63.882042,12.996479,0.165493,0.014085
std,9.281517,3.921180,0.958066,0.196474
min,39.000000,4.000000,0.000000,0.000000
25%,59.000000,12.000000,0.000000,0.000000
50%,64.000000,12.000000,0.000000,0.000000
75%,69.000000,12.000000,0.000000,0.000000
max,151.000000,24.000000,12.000000,3.000000